extends ../template

block variables
    - var title = 'обо мне'
    - var header__title = 'обо мне'
    - var header__info = 'Личный сайт веб разработчика'

block header
    include ../module/header


block footer
    include ../module/footer