extends ../template

block variables
    - var title = 'обо мне'
    - var header__title = 'обо мне'
    - var header__info = 'Личный сайт веб разработчика'

block content
    .reviews-page
        section.header
            .container
                .header__social
                    include ../module/social
                .header__menu
                    .hamburger
                        a.hamburger__link(href="")
                            .hamburger__img
                .header__user
                    .user
                        .user__img
                            img.user__img-pic(src="./images/user2.jpg")
                        .user__info
                            | #{header__info}
                        .name-content__label.name-content__label_sz
                            | <svg class="name-content__label-pic">
                            | <use xlink:href="./images/svg/symbols.svg#portfolio_header"></use>
                            | </svg>
                .header__btn
                    a.btn-arrow(href="#")
                        | <svg class="btn-down">
                        | <use xlink:href="./images/svg/symbols.svg#portf_arrow_down"></use>
                        | </svg>

        main.content
            .block-triangle
                .block-triangle__left.block-triangle__left_color
                    | <svg class="triangle-left" viewBox="0 0 1000 225" preserveAspectRatio="none">
                    | <polygon points="0,0 0,225 1000,225 1000,155"></polygon>
                    | </svg>
                .block-triangle__right.block-triangle__right_color
                    | <svg class="triangle-right" viewBox="0 0 1000 225" preserveAspectRatio="none">
                    | <polygon points="0,225 1000,225 1000,0 0,155"></polygon>
                    | </svg>

            .block-about

                section.section__block-left.section__block-left_color-poz
                    .logo-page
                        .logo-page__container
                            h1.name-content.name-content_color.name-content_sz.name-content_sz35
                                | #{title}
                            .name-content__label-t.name-content__label-t_sz
                                | <svg class="name-content__label-pic">
                                | <use xlink:href="./images/svg/symbols.svg#about_header"></use>
                                | </svg>
                    .about
                        .about__img
                            img.about__img-pic(style="background-image: url('./images/user2.jpg')" src="./images/user2.jpg")
                        .about__body
                            .about__title
                                .name-content.name-content_color.name-content_color-bg.nc-s__sz
                                    |Кто я
                            .about__text
                                p| Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                                p| Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!


                section.section__block-right.section__block-right_color
                    .can-use-wrapper
                        .can-use
                            .can-use__title
                                .name-content.name-content_color.nc-s__sz
                                    | Чем я могу быть<br>
                                    | вам полезен
                            .can-use__text
                                |Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                        .skill
                            .skill__row
                                .skill-cont
                                    .skill-cont___title
                                        |Frontend
                                    .skill-cont___data
                                        ul.skill__list
                                            li.skill__items
                                                | <svg class="circles" viewBox="0 0 110 110">
                                                |         <circle r="45" cx="50%" cy="50%" fill="none" class="circle__bg" />
                                                |         <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__layer circle-75" />
                                                |</svg>
                                                .skill__desc
                                                    |HTML
                                            li.skill__items
                                                | <svg class="circles" viewBox="0 0 110 110">
                                                |         <circle r="45" cx="50%" cy="50%" fill="none" class="circle__bg" />
                                                |         <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__layer circle-55" />
                                                | </svg>
                                                .skill__desc
                                                    | CSS3
                                            li.skill__items
                                                | <svg class="circles" viewBox="0 0 110 110">
                                                |         <circle r="45" cx="50%" cy="50%" fill="none" class="circle__bg" />
                                                |         <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__layer circle-45" />
                                                | </svg>
                                                .skill__desc
                                                    | JavaScript<br>& jQuery

                            .skill__row
                                .skill-cont
                                    .skill-cont___title
                                        |Backend
                                    .skill-cont___data
                                        ul.skill__list
                                            li.skill__items
                                                | <svg class="circles" viewBox="0 0 110 110">
                                                |         <circle r="45" cx="50%" cy="50%" fill="none" class="circle__bg" />
                                                |         <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__layer circle-40" />
                                                | </svg>
                                                .skill__desc
                                                    | PHP
                                            li.skill__items
                                                | <svg class="circles" viewBox="0 0 110 110">
                                                |         <circle r="45" cx="50%" cy="50%" fill="none" class="circle__bg" />
                                                |         <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__layer circle-30" />
                                                | </svg>
                                                .skill__desc
                                                    | mySQL
                                            li.skill__items
                                                | <svg class="circles" viewBox="0 0 110 110">
                                                |         <circle r="45" cx="50%" cy="50%" fill="none" class="circle__bg" />
                                                |         <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__layer circle-10" />
                                                | </svg>
                                                .skill__desc
                                                    | Node.js<br>& npm
                                            li.skill__items
                                                | <svg class="circles" viewBox="0 0 110 110">
                                                |         <circle r="45" cx="50%" cy="50%" fill="none" class="circle__bg" />
                                                |         <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__layer circle-5" />
                                                | </svg>
                                                .skill__desc
                                                    | Mongo.db


                            .skill__row
                                .skill-cont
                                    .skill-cont___title
                                        |WorkFlow
                                    .skill-cont___data
                                        ul.skill__list
                                            li.skill__items
                                                | <svg class="circles" viewBox="0 0 110 110">
                                                |         <circle r="45" cx="50%" cy="50%" fill="none" class="circle__bg" />
                                                |         <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__layer circle-75" />
                                                | </svg>
                                                .skill__desc
                                                    | Git
                                            li.skill__items
                                                | <svg class="circles" viewBox="0 0 110 110">
                                                |         <circle r="45" cx="50%" cy="50%" fill="none" class="circle__bg" />
                                                |         <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__layer circle-55" />
                                                | </svg>
                                                .skill__desc
                                                    | Gulp
                                            li.skill__items
                                                | <svg class="circles" viewBox="0 0 110 110">
                                                |         <circle r="45" cx="50%" cy="50%" fill="none" class="circle__bg" />
                                                |         <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__layer circle-45" />
                                                | </svg>
                                                .skill__desc
                                                    | Bower


        section.section__maps
                .contact-info
                    .contact-info__title.name-content.name-content_color
                        |Контакты
                    ul.contact-info__list
                        li.contact-info__item
                            .contact-info__img
                                | <svg class="contact-info__pic skype">
                                | <use xlink:href="./images/svg/symbols.svg#skype"></use>
                                | </svg>
                            .contact-info__text|evdrug
                        li.contact-info__item
                            .contact-info__img
                                | <svg class="contact-info__pic envelope2">
                                | <use xlink:href="./images/svg/symbols.svg#envelope2"></use>
                                | </svg>
                            .contact-info__text|druzyakin.e@gmail.com
                        li.contact-info__item
                            .contact-info__img
                                | <svg class="contact-info__pic phone2">
                                | <use xlink:href="./images/svg/symbols.svg#phone2"></use>
                                | </svg>
                            .contact-info__text|+79818467713
                        li.contact-info__item
                            .contact-info__img
                                | <svg class="contact-info__pic map_marker">
                                | <use xlink:href="./images/svg/symbols.svg#map_marker"></use>
                                | </svg>
                            .contact-info__text|г.Санкт-Петербург


                .map#map
                    |<script>
                    | var map;
                    |
                    |
                    |
                    |
                    |
                    |
                    | function initMap() {
                    |
                    |     var pos = {lat: 59.937763, lng: 30.218649};
                    |     var pos1 = {lat: 59.937220, lng: 30.224896};
                    |     var marker_url = "images/map-marker.png";
                    |     var popupContent = '<p class="content">Что угодно</p>';
                    |
                    |     var styles = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#87a87b"},{"visibility":"on"}]}]
                    |
                    |
                    |     map = new google.maps.Map(document.getElementById('map'), {
                    |         center: pos,
                    |         zoom: 16,
                    |         disableDefaultUI: true,
                    |         scrollwheel: false
                    |     });
                    |     var marker = new google.maps.Marker({
                    |         position: pos1,
                    |         map: map,
                    |         icon: marker_url,
                    |         animation: google.maps.Animation.BOUNCE
                    |     });
                    |
                    |     map.setOptions({styles: styles});
                    | }
                    |</script>


        include ../module/footer