extends ../template

block variables
    - var title = 'обо мне'
    - var header__title = 'обо мне'
    - var header__info = 'Личный сайт веб разработчика'

block content
    section.header
        .container
            .header__social
                include ../module/social
            .header__menu
                .hamburger

block footer
    include ../module/footer
