extends ../template

block variables
    - var title = 'Блог'
    - var header__title = 'Блог'
    - var header__info = 'Статьи, которые я написал'

block content
    section.header
        .container-page
            .header__social
                include ../module/social
            .header__menu
                .hamburger
            .header__user
                .user
                    .user__img
                        img.user__img-pic
                    .name-content
                        |#{title}
                    .user__info
                        |Статьи, которые я написал
    main.content
        .block-triangle
            .block-triangle__left
                | <svg class="block-left" viewBox="0 0 1000 225" preserveAspectRatio="none">
                | <polygon points="0,0 0,225 1000,225 1000,155"></polygon>
                | </svg>
            .block-triangle__right
                | <svg class="block-right" viewBox="0 0 1000 225" preserveAspectRatio="none">
                | <polygon points="0,225 1000,225 1000,0 0,155"></polygon>
                | </svg>
        .container-page
            .block-left
                .nav-article
                    ul.nav-article__list
                        li.nav-article__items
                            a.nav-article__links(href="")
                                |Самое важное в SASS
                        li.nav-article__items
                            a.nav-article__links(href="")
                                |Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.nav-article__items
                            a.nav-article__links(href="")
                                |Самый необходимый набор Gulp плагинов
                        li.nav-article__items
                            a.nav-article__links(href="")
                                |Почему я выбрал Gulp

            .block-right
                article.article
                    .article__title
                        |Самое важное в SASS
                    .article__date
                        |22 ноября 2016
                    .article__text
                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                article.article
                    .article__title
                        |Самое важное в SASS
                    .article__date
                        |22 ноября 2016
                    .article__text
                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                article.article
                    .article__title
                        |Самое важное в SASS
                    .article__date
                        |22 ноября 2016
                    .article__text
                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                article.article
                    .article__title
                        |Самое важное в SASS
                    .article__date
                        |22 ноября 2016
                    .article__text
                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

    footer.footer
        .footer__up
            .container-page
                .footer__block
                    .info
                        |Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                .footer__block
                    .footer__menu
                        ul.menu__list
                            li.menu__items
                                a.menu__link(href="#")
                                    |Мои работы
                            li.menu__items
                                a.menu__link(href="#")
                                    |Обо мне
                            li.menu__items
                                a.menu__link(href="#")
                                    |Блог
                            li.menu__items
                                a.menu__link(href="#")
                                    |Авторизация
                    .footer__social
                        include ../module/social
                .footer__block
                    .text-quote
                        | Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                        | — Martin Golding
        .footer__down.user-footer
            | © Друзьякин Евгений | создано с любовью в LoftSchool | 2017