extends ../template

block variables
    - var title = 'мои работы'
    - var header__title = 'мои работы'
    - var header__info = 'Личный сайт веб разработчика'

block header
    include ../module/header

block content
    .container-page
block footer
    include ../module/footer