*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  color: $colorText;

  @include media_768 {
    font-size: 14px;
  }
}
html,body{
  height: 100vh;
  min-width: 300px;

}


//preloader
#preloader-page {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  background-image: url(../images/preloader/forest_preloader.gif);
  background-position: center;
  background-size: cover;
  z-index: 100500;
}

.none {
  transform: scale(0);
  transition: 1s;
}

img {
  border: none;
}

.wrapper-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  position: relative;

}

.container {
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
}


.bl-svg {
  width: 200px;
  height: 200px;
  display: block;
  background-color: red;

}

.path-line1 {
  stroke-dasharray: 100;
  stroke-dashoffset: 3000;
  animation: dash 50s linear ;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.path-line2 {
  stroke-dasharray: 100;
  stroke-dashoffset: 4200;
  animation: dash 50s linear ;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.path-line3 {
  stroke-dasharray: 100;
  stroke-dashoffset: 5000;
  animation: dash 50s linear ;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

