.header {
  width: 100%;
  height: 513px;
  background-image: url('../images/bg/bg-water.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .menu-soc__pic svg {
    opacity: 1;
  }

  &__footer-pic {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
  }
  &__block-left, &__block-right {
    flex: 1;
  }

}

.block-left, .block-right {
  width: 100%;
  height: 100%;
  fill: #fff;
}