
block header
    header.header
        nav.header__menu
            include ./menuSoc

            .menu-hamburger

        .header__block
            .header__img
            h1
                |#{header__title}
            .line
            .header__title
                |#{header__info}
                