.meniHamb
    .meniHamb__left
    .meniHamb__right
    ul.meniHamb__list
        li.menuHamb__item
            a.menuHamb__link(href="works.html")
                |Мои работы
        li.menuHamb__item
            a.menuHamb__link(href="blog.html")
                |Блог
        li.menuHamb__item
            a.menuHamb__link(href="about.html")
                |Обо мне
        li.menuHamb__item
            a.menuHamb__link(href="index.html")
                |Авторизация

