.menu-soc
    ul.menu-soc__list
        li.menu-soc__item
            a.menu-soc__link(href="#")|vk
        li.menu-soc__item
            a.menu-soc__link(href="#")|git
        li.menu-soc__item
            a.menu-soc__link(href="#")|in
