.menu-soc
    ul.menu-soc__list
        li.menu-soc__item
            a.menu-soc__link(href="#")
                .menu-soc__pic
                    |<svg class="vk">
                    |<use xlink:href="./images/svg/symbols.svg#vk"></use>
                    |</svg>
                |vk
        li.menu-soc__item
            a.menu-soc__link(href="#")
                .menu-soc__pic
                    | <svg class="git">
                    | <use xlink:href="./images/svg/symbols.svg#github"></use>
                    | </svg>
                |git
        li.menu-soc__item
            a.menu-soc__link(href="#")
                .menu-soc__pic
                    | <svg class="in">
                    | <use xlink:href="./images/svg/symbols.svg#in"></use>
                    | </svg>
                |in
