.menu-hamb
    .menu-hamb__wrapper
        .menu-hamb__left
        .menu-hamb__right
        ul.menu-hamb__list
            li.menu-hamb__item
                a.menu-hamb__link(href="works.html")
                    |Мои работы
            li.menu-hamb__item
                a.menu-hamb__link(href="blog.html")
                    |Блог
            li.menu-hamb__item
                a.menu-hamb__link(href="about.html")
                    |Обо мне
            li.menu-hamb__item
                a.menu-hamb__link(href="index.html")
                    |Авторизация

