.social
    ul.social__list
        li.social__items
            a.social__link(href="#" target="_blanc")
                .social__link-pic
                    | <svg class="vk">
                    | <use xlink:href="./images/svg/symbols.svg#vk"></use>
                    | </svg>
                .social__link-text
                    | vk
        li.social__items
            a.social__link(href="#" target="_blanc")
                .social__link-pic
                    | <svg class="git">
                    | <use xlink:href="./images/svg/symbols.svg#github"></use>
                    | </svg>
                .social__link-text
                    | git
        li.social__items
            a.social__link(href="#" target="_blanc")
                .social__link-pic
                    | <svg class="in">
                    | <use xlink:href="./images/svg/symbols.svg#in"></use>
                    | </svg>
                .social__link-text
                    | in