-var userName = 'Друзьякин Евгений'
-var siteDesc = 'Личный сайт веб разработчика'

.user__img
    img.user__img-pic(style=" background-image: url(./images/user2.jpg);" src="./images/user2.jpg")
.user__user-name
    |#{userName}
.user__site-desc
    |#{siteDesc}