-var userName = 'Владимир Астахов'
-var siteDesc = 'Личный сайт веб разработчика'

.user__img
    img.user__img-pic(style=" background-image: url(./images/user.jpg);")
.user__user-name
    |#{userName}
.user__site-desc
    |#{siteDesc}