@keyframes list-menu {
  0% {
    left: 9999px;
  }

  100% {
    left: 0;
  }
}

.meniHamb__list {
  list-style:none;
}

.menuHamb__item {
  padding-bottom: 30px;
}

.menuHamb__item_active .menuHamb__link:after {
  width: 89px;
}

.menuHamb__link {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-family: "Sansus Webissimo";
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:after {
    content: '';
    display: block;
    padding-top: 8px;
    width: 0;
    height: 3px;
    border-bottom: 3px solid #ffffff;
    transition: .3s;
  }
}

.menuHamb__link:hover {
  &:after {
    width: 89px;
  }
}
.hamburger_active  .hamburger__img {
  transition: .7s;
  background-color: transparent;

  &:after {
    content: '';
    top: 0;
    transform: rotate(225deg);
    background-color: red;
    transition: 1s;

  }

  &:before {
    content: '';
    top: 0;
    background-color: red;
    transform: rotate(-225deg);
    transition: 1s;

  }
}


.meniHamb__list {
  position: absolute;
  top: 50%;
  left: 99999px;
  z-index: 11;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(0,-50%);


}

.menuHamb__item {
  position: relative;
  left: 99999px;

}

.meniHamb__left {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgba(115,146,88, .9);
  z-index:11;
  transition: .7s;
}
.meniHamb__right {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgba(115,146,88, .9);
  z-index:11;
  transition: .7s;
}


.meniHamb_active {

  .meniHamb__right, .meniHamb__left {
    top: 0;
    width: 50%;
    transition: .7s;
    z-index:11;
  }

  .meniHamb__list{
    width: 100%;
    left: 0;
  }

  .menuHamb__item{
    animation: list-menu 1s forwards;
    animation-timing-function: ease;
  }

}

.menuHamb__link {
  z-index: 13;
}

